---
// src/components/Head.astro
const { 
  title = "N Benchmarks | Gaming FPS Tests",
  description
} = Astro.props;

const defaultDescription = "Gaming benchmarks on budget hardware featuring the RTX 4060 and Ryzen 5 5600G.";

const finalDescription = description || defaultDescription;
---

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="google-site-verification" content="6e4x7s0GBTEGZTWYzogcdIyNEgPmRAkcasnFh42sHM8" />
    <link rel="canonical" href={`https://nbenchmarks.pages.dev${Astro.url.pathname}`} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
    <meta name="description" content={finalDescription} />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap" rel="stylesheet" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />