<div class="sidebar-wrapper">
  <a class="sidebar-heading" href="/most-popular" style="text-decoration: none">Popular Benchmarks </a>
  <a class="sidebar-links" href="/benchmarks/red-dead-redemption-2-on-rtx-4060-ryzen-5600g-1080p-1440p-4k">
    <img loading="lazy" class="sidebar-img" src="/assets/benchmarks/thumbs/red-dead-redemption-2/rdr2-272x153.avif" alt="Red Dead Redemption 2 on RTX 4060 + Ryzen 5600G">
    <p class="sidebar-p">Red Dead Redemption 2 on RTX 4060 + Ryzen 5600G</p>
  </a>
  <a class="sidebar-links" href="/benchmarks/the-witcher-3-next-gen-on-rtx-4060-ryzen-5600g-1080p-1440p-4k">
    <img loading="lazy" class="sidebar-img" src="/assets/benchmarks/thumbs/the-witcher-3/witcher3-272x153.avif" alt="The Witcher 3 Next Gen on RTX 4060 + Ryzen 5600G">
    <p class="sidebar-p">The Witcher 3 Next Gen on RTX 4060 + Ryzen 5600G</p>
  </a>
  <a class="sidebar-links" href="/benchmarks/counter-strike-2-on-rtx-4060-ryzen-5600g-1080p-1440p-4k">
    <img loading="lazy" class="sidebar-img" src="/assets/benchmarks/thumbs/counter-strike-2/cs2-272x153.avif" alt="Counter-Strike 2 on RTX 4060 + Ryzen 5600G">
    <p class="sidebar-p">Counter-Strike 2 on RTX 4060 + Ryzen 5600G</p>
  </a>
  <a class="sidebar-links" href="/benchmarks/call-of-duty-warzone-on-rtx-4060-ryzen-5600g-1080p-1440p-4k">
    <img loading="lazy" class="sidebar-img" src="/assets/benchmarks/thumbs/call-of-duty-warzone/warzone-272x153.avif" alt="Call of Duty: Warzone on RTX 4060 + Ryzen 5600G">
    <p class="sidebar-p">Call of Duty: Warzone on RTX 4060 + Ryzen 5600G</p>
  </a>
  <a class="sidebar-links" href="/benchmarks/marvels-spider-man-2-on-rtx-4060-ryzen-5600g-1080p-1440p-4k">
    <img loading="lazy" class="sidebar-img" src="/assets/benchmarks/thumbs/marvels-spider-man-2/spider-man-2-272x153.avif" alt="Marvel's Spider-Man 2 on RTX 4060 + Ryzen 5600G">
    <p class="sidebar-p">Marvel's Spider-Man 2 on RTX 4060 + Ryzen 5600G</p>
  </a>
</div>